@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.cursor{
  background-color: black;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left:0;
  pointer-events: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
    position: fixed;
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.calendlyButton {
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: #ffffff; /* White text */
  border-radius: 9999px; /* Fully rounded */
  transition: all 0.3s ease;
  position: relative;
  z-index: 10;
  border: 2px solid white;
}

.border-transparent {
  border: 2px solid transparent;
}

.popup-button-wrapper{
  position: relative;
  display: inline-block;
  border-radius: 9999px;
  background-color: transparent;
  transition: all 3s ease in-out;
}

.popup-button-border {
  position: absolute;
  z-index: -1;
  inset: -1;
  padding: 3px;
  border-radius: 9999px;
  transition: all 3s ease;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.calendlyButton:hover {
  background-color: white; /* Darker blue on hover */
  border-color: white;
  color: black;
  position: relative;
}

.popup-button-container{
  position: relative;
}

.popup-button-border{
  position: absolute;
  inset: -3px;
  
}
