@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.cursor
{
  background-color: black;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left:0;
  pointer-events: none;
}

@layer base {
  :root {

    --background: 0 0% 100%;

    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;

    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;

    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;

    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;

    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;

    --input: 0 0% 89.8%;

    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem}
  .dark {

    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;

    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;

    --input: 0 0% 14.9%;

    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%}
}



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    content: '';
    position: absolute;
    width: 24px;
    height: 3px;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: all 0.5s;
}
.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom{
    transform: translateY(14px);
}

.open{
    transform: rotate(90deg);
    transform: translateY(0px);
    position: fixed;
}

.open .hamburger-top{
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle{
    display: none;
}

.open .hamburger-bottom{
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}



.calendlyButton {
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: #ffffff; /* White text */
  border-radius: 9999px; /* Fully rounded */
  transition: all 0.3s ease;
  position: relative;
  z-index: 10;
  border: 2px solid white;
}

.border-transparent {
  border: 2px solid transparent;
}

.popup-button-wrapper{
  position: relative;
  display: inline-block;
  border-radius: 9999px;
  background-color: transparent;
  transition: all 3s ease in-out;
}

.popup-button-border {
  position: absolute;
  z-index: -1;
  inset: -1;
  padding: 3px;
  border-radius: 9999px;
  transition: all 3s ease;
  -webkit-mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
          mask: 
     linear-gradient(#fff 0 0) content-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.calendlyButton:hover {
  background-color: white; /* Darker blue on hover */
  border-color: white;
  color: black;
  position: relative;
}

.popup-button-container{
  position: relative;
}

.popup-button-border{
  position: absolute;
  inset: -3px;
  
}
.rainbow {
}

.landing-page-primary-section{
  z-index: 50;
}

.landing-page-section-containter{
  width: 70%;
  padding-left: 4%;
  background-color: transparent;
}

.role-heading{
  background: linear-gradient(90deg, #adb5bd, #212529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
}

.mission-statement {
  color: #ced4da;
  width: 100%;
  @media (min-width: 640px) {
    width: 40rem;
  }
}

.nav-bar{
  z-index:100;
}

.loading-dots {
  display: flex;
  align-items: center;
  justify-content: center;

}

.dot {
  border-radius: 50%;
  margin: 0 5px;
  animation: loading 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  width: 100px; /* control the size */
  aspect-ratio: 8/5;
  --_g: no-repeat radial-gradient(#000 68%, #0000 71%);
  -webkit-mask: var(--_g), var(--_g), var(--_g);
  -webkit-mask-size: 25% 40%;
  background: red;
  animation: load 2s infinite;
}

@keyframes load {
  0% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%;
  }
  16.67% {
    -webkit-mask-position: 0% 100%, 50% 0%, 100% 0%;
  }
  33.33% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 0%;
  }
  50% {
    -webkit-mask-position: 0% 100%, 50% 100%, 100% 100%;
  }
  66.67% {
    -webkit-mask-position: 0% 0%, 50% 100%, 100% 100%;
  }
  83.33% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 100%;
  }
  100% {
    -webkit-mask-position: 0% 0%, 50% 0%, 100% 0%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #f8f9fa inset !important;
  border: solid 1px #adb5bd !important;
}
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  outline: #748ffc auto 1px !important;
  border: transparent !important;
}
